.chart-line2{
	width: 100%;
	height: 385px;
}
.chart-pie1, .chart-pie2{
	width: 50%;
	height: 450px;
	display: inline-block;
	background-color: #3A4147;
}
.chart-pie3, .chart-pie4, .chart-pie5{
	width: 400px;
	height: 500px;
	float: left;
	background-color: #3A4147;
}
div.chart-pie4{
	padding: 100px 50px;
	width: 300px;
	height: 300px;
}