/* reset */
body,form,h1,h2,h3,h4,h5,ul,ol,li,dl,dt,dd,p,input,textarea,table,th,td,iframe,button{margin:0;padding:0}
body,input,textarea{font-size:12px;font-family:microsoft yahei}
input,textarea{outline:none;}
textarea{ resize:none;}
ul,ol{list-style:none}
img,button{border:0}
button,input {line-height:normal;*overflow:visible}
a{ text-decoration:none; cursor:pointer;}
button{outline: none;}
body{
	background-color: #282828;
}

.wrap{
	background-color: #2f363d;
	max-width: 2000px;
	margin: 0 auto;
	min-height: 1000px;
}

.inner{
	width: 1200px;
	margin: 0 auto;
}

/*顶部公用模块 start*/
.wrap-top{
	height: 60px;
	background-color: #202325;
	line-height: 60px;
}
.wrap-top-inner h1{
	float: left;
	color: #fecb2f;
	font-size: 20px;
}
.wrap-top-inner div{
	float: right;
	color: #2bfece;
}
.search{
	margin-top: 17px;
}
.user-login{
	width: 140px;
	margin-right: 20px;
	margin-left: 20px;
}
.user-login span{
	display: inline-block;
	margin-right: 20px;
}
.wrap-top-inner div input{
	line-height: 26px;
	border: none;
	border-radius: 3px;
	height: 25px;
	background-color: #4d5357;
	color: #fff;
}
.wrap-top-inner div button{
	background-color: #ff3f2b;
	border: none;
	color: #fff;
	border-radius: 3px;
	width: 60px;
	height: 25px;
	text-align: center;
}
.wrap-top-inner div a{
	color: #2bfece;
}
/*顶部公用模块 end*/

/*顶部绿条 start*/
.wrap-tip{
	height: 40px;
	background-color: #00ffcd;
	color: #000;
	font-size: 16px;
	overflow: hidden;
}
.wrap-tip a{
	width: 150px;
	text-align: center;
	display: inline-block;
	height: 40px;
	line-height: 40px;
}
.wrap-tip .cover{
	color: #1aad90;
}
/*顶部绿条 end*/

/*业务区域 start*/
.wrap-content{

}
.wrap-content-top{
	height: 175px;
}
.wrap-content-top-title{
	height: 70px;
}
.wrap-content-top-title h2{
	color: #e2e8d5;
	font-size: 20px;
	line-height: 70px;
}
.wrap-content-top-tab{
	height: 105px;
}
.wrap-content-top-tab .tab{
	width: 284px;
	border-right: 1px #000 solid;
	padding-left: 15px;
	float: left;
	background-color: #b0b7ae;
	height: 90px;
	margin-top: 15px;
}
.wrap-content-top-tab .tab h3{
	height: 30px;
	font-size: 14px;
	font-weight: 100;
	line-height: 30px;
}
.wrap-content-top-tab .tab div{
	padding-top: 5px;
	font-size: 14px;
}
.wrap-content-top-tab .tab div .up{
	color: #2fb058;
}
.wrap-content-top-tab .tab div .down{
	color: #dc413f;
}
.wrap-content-top-tab .tab p{
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	padding-right: 15px;
}
.wrap-content-top-tab div.cur{
	height: 105px;
	margin-top: 0px;
	background-color: #f0f6e1;
}
.wrap-content-top-tab div.cur h3{
	height: 45px;
}
/*业务区域 end*/


/*折线图 start*/
.chart-line{
	width: 100%;
	height: 420px;
}
/*折线图 end*/

/*条形图 start*/
.chart-bar, .chart-bar-comp{
	width: 50%;
	height: 510px;
	display: inline-block;
}
/*条形图 end*/

/*todo 添加数据 start*/
.addData{
	background-color: #ff0000;
	color: #ffffff;
}
#chart-line-add{
	position: absolute;
	top: 662px;
	right: 100px;
}
#chart-bar-add{
	position: absolute;
	top: 1170px;
	left: 570px;
}
#chart-bar-comp-add{
	position: absolute;
	top: 1170px;
	left: 1160px;
}
/*todo 添加数据 end*/

/*页尾版权声明 start*/
.wrap-bottom-inner{
	color: #505962;
	text-align: center;
	height: 150px;
	line-height: 150px;
}
/*页尾版权声明 end*/