.wrap-content-top {
    height: auto;
}

.wrap-content-top-title h2,.wrap-content-top-title h3 {
    display: inline-block;
}

.wrap-content-top-title h3 {
    margin: 0 10px 0 20px;
    font-size: 14px;
    font-weight: normal;
    color: #b0b7ae;
}

select{
    height: 24px;
    width: 235px;
    border: none;
    background-color:#4d5357;
    font-weight: normal;
    font-size: 14px;
    color: #b0b7ae;         
}

.wrap-content-table{
    padding: 22px;
    background-color: #3a4147;    
}
.table-header .tab,.table-header .derive{
    display: inline-block;
    line-height: 24px;
    padding: 0 20px;
    margin:0 10px 10px 0;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    background-color: #ff3f2b;
    opacity: 0.4;
    cursor: pointer;
}

.table-header .cur,.table-header .derive{
    opacity: 1;    
}

.table-header .derive{
    float: right;
    padding: 0 36px 0 20px;
    border-radius: 12px;
}

.wrap-content-table table tr th{
    width:129px;
    border-right: 1px solid #3a4147;
    line-height: 40px;
    background-color: #2f363d;
    color: #f0f6e1;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.wrap-content-table table{
    border-collapse: collapse;
    border: none;
}

.wrap-content-table table tr td{
    width:130px;
    line-height: 40px;
    font-size: 14px;
    color: #f0f6e1;
    text-align: center;
}

.wrap-content-table table tr:nth-child(even) {
    background-color: #373e44;    
}

.wrap-content-table table tr:hover{
    background-color: #4e6568;
}

.wrap-content-table table .thead:hover{
    background-color: #373e44;   
    opacity: 1;  
}

.wrap-content-table table td:hover,table th:hover{

}












